.top-bar {
  overflow: hidden;
  height: 70px;
  line-height: 70px;
  position: relative;
  background: black url("/img/fleet-commander.png") no-repeat 7px 7px;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

* {
  font-family: Cantarell;
}

#profile-list {
   list-style: none;
   margin: 1em 0;
   padding: 0; 
   margin-left: 100px;
   border-bottom: 1px black;
}

.hidden {
  display: none;
}

body {
  background: #eaeaea;
  padding: 0px;
  margin: 0px;
}
