# Autotools related
aclocal.m4
autom4te.cache/
config.log
config.status
configure
Makefile
Makefile.in
*/Makefile
*/Makefile.in
install-sh
missing
INSTALL

# RPM building
rpmbuild/
dist/

# Test suite
tests/*.trs
tests/*.log
test-driver

# Python related
*.py[co]
__pycache__

# Editors and IDEs
*.sublime-project
*.sublime-workspace
.vscode
*.code-workspace
.*.swp
*/.*.swp

# Project specifics
admin/fleetcommander/constants.py
data/*.service
data/fleet-commander-logger.desktop
data/fleet-commander-admin.conf
data/fleet-commander-admin
data/fleet-commander-logger
data/firefox-bookmark-fclogger
data/firefox_bookmark_fclogger.json
tests/data/gschemas.compiled
fleet-commander*.tar.[gx]z
id_rsa
id_rsa.pub
known_hosts
database.db
build-rpm.sh
build-full.sh
install-rpm.sh
install-ipamaster.sh
build-copr.sh
check.sh
check-full.sh
