Makefile
Makefile.in
*/Makefile
*/Makefile.in
.*.swp
*/.*.swp
admin/profiles/*.json
admin/database.db
data/*.service
INSTALL
aclocal.m4
admin/demoscripts/
autom4te.cache/
config.log
config.status
configure
data/fleet-commander-logger.desktop
data/fleet-commander-admin.conf
data/fleet-commander-controller.conf
data/fleet-commander-apache.conf
install-sh
missing
fleet-commander*.tar.[gx]z
tests/*.trs
tests/*.log
*.py[co]
test-driver
tests/data/gschemas.compiled
build.sh
check.sh
fc-admin.sublime-project
fc-admin.sublime-workspace