fleet-commander-admin.spec
Makefile
Makefile.in
*/Makefile
*/Makefile.in
.*.swp
*/.*.swp
admin/profiles/*.json
admin/fleetcommander/constants.py
data/*.service
INSTALL
aclocal.m4
admin/demoscripts/
autom4te.cache/
config.log
config.status
configure
data/fleet-commander-logger.desktop
data/fleet-commander-admin.conf
data/fleet-commander-admin
data/fleet-commander-logger
install-sh
missing
fleet-commander*.tar.[gx]z
tests/*.trs
tests/*.log
*.py[co]
test-driver
tests/data/gschemas.compiled
build-rpm.sh
install-rpm.sh
full-install-rpm.sh
check-full.sh
check.sh
fc-admin.sublime-project
fc-admin.sublime-workspace
id_rsa
id_rsa.pub
known_hosts
database.db
