{
    "uid": "001GIBBERISH002",
    "etag": "07/07/07 07:07:07 HEL+0",
    "name": "GNOME 3.12 for F20",
    "description": "Hughsie's GNOME 3.12 COPR repository for Fedora 20",
    "settings": {
        "org.baseurl.yum": "[rhughes-f20-gnome-3-12]\nname=Copr repo for f20-gnome-3-12 owned by rhughes\nbaseurl=http://copr-be.cloud.fedoraproject.org/results/rhughes/f20-gnome-3-12/fedora-$releasever-$basearch/\nskip_if_unavailable=True\ngpgcheck=0\nenabled=1"
    }
}

