<html>
  <head>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/deploy.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>Fleet Commander</title>
  </head>
  <body>
  <div class="top-bar"></div>
  <h1>Deploy profile</h1>
  <div id="summary"></div>
  <form id="profile-data">
    Name: <input type="text" name="profile-name"/><br/>
    Description: <input type="text" name="profile-desc"/>
    <h2>Applies to:</h2>
    <h3>Users</h3>
    <select id="profile-users" name="profile-users"></select>
    <h3>Groups</h3>
    <select id="profile-groups" name="profile-groups"></select>
    <input type="button" value="Discard"/><input onclick="profileSave()" type="button" value="Save"/>
  </form>
  </body>
</html>
