<html>
  <head>
    <script src="js/spice-html5/spicearraybuffer.js"></script>
    <script src="js/spice-html5/enums.js"></script>
    <script src="js/spice-html5/atKeynames.js"></script>
    <script src="js/spice-html5/utils.js"></script>
    <script src="js/spice-html5/png.js"></script>
    <script src="js/spice-html5/lz.js"></script>
    <script src="js/spice-html5/quic.js"></script>
    <script src="js/spice-html5/bitmap.js"></script>
    <script src="js/spice-html5/spicedataview.js"></script>
    <script src="js/spice-html5/spicetype.js"></script>
    <script src="js/spice-html5/spicemsg.js"></script>
    <script src="js/spice-html5/wire.js"></script>
    <script src="js/spice-html5/spiceconn.js"></script>
    <script src="js/spice-html5/display.js"></script>
    <script src="js/spice-html5/main.js"></script>
    <script src="js/spice-html5/inputs.js"></script>
    <script src="js/spice-html5/simulatecursor.js"></script>
    <script src="js/spice-html5/cursor.js"></script>
    <script src="js/spice-html5/thirdparty/jsbn.js"></script>
    <script src="js/spice-html5/thirdparty/rsa.js"></script>
    <script src="js/spice-html5/thirdparty/prng4.js"></script>
    <script src="js/spice-html5/thirdparty/rng.js"></script>
    <script src="js/spice-html5/thirdparty/sha1.js"></script>
    <script src="js/spice-html5/ticket.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/new_profile.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <title>Fleet Commander - New Profile</title>
  </head>
  <body>
  <span onclick="closeSession()">Close session</span>
  <div id="spice-area">
    <div id="spice-screen"></div>
  </div>
  <div id="event-logs">
    <ul id="event-list">
    </ul>
  </div>
  </body>
</html>
