<html>
  <head>
    <script src="/js/noVNC/include/util.js"></script>
    <script src="/js/noVNC/include/webutil.js"></script>
    <script src="/js/noVNC/include/base64.js"></script>
    <script src="/js/noVNC/include/websock.js"></script>
    <script src="/js/noVNC/include/des.js"></script>
    <script src="/js/noVNC/include/keysymdef.js"></script>
    <script src="/js/noVNC/include/keyboard.js"></script>
    <script src="/js/noVNC/include/input.js"></script>
    <script src="/js/noVNC/include/display.js"></script>
    <script src="/js/noVNC/include/jsunzip.js"></script>
    <script src="/js/noVNC/include/keysym.js"></script>
    <script src="/js/noVNC/include/rfb.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/new_profile.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    
    <title>Fleet Commander - New Profile</title>
  </head>
  <body>
  <div class="top-bar"></div>
  <input id="restart-session" type="button" onclick="restartSession()" value="Restart session"/>
  <input id="close-session"   type="button" onclick="closeSession()"   value="Close session"/>
  <input id="review-changes"  type="button" onclick="reviewChanges()"  value="Review changes"/>
  <input id="show-session"    type="button" onclick="showSession()"    value="Show session"/>
  <input id="create-profile"  type="button" onclick="createProfile()"  value="Create profile"/>
  <div id="vnc-area">
    <canvas id="vnc-canvas">
    </canvas>
  </div>
  <div id="event-logs">
    <ul id="event-list">
    </ul>
    <input class="hidden" id="restart-profile" onclick="restartSession()" type="button" value="Start again"/>
    <input class="hidden" id="submit-profile"  onclick="deployProfile()" type="button" value="Next"/>
  </div>
  </body>
</html>
