<html>
  <head>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/patternfly.min.js"></script>
    <script src="/js/deploy.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>Fleet Commander - Deploy Profile</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fleet Commander</a>
      </div>
    </nav>

    <div class="container-fluid">
      <form id="profile-data">
        <div class="form-group">
          <label for="profile-name" class="control-label">Name</label>
          <input type="text" name="profile-name" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="profile-desc" class="control-label">Description</label>
          <input type="text" name="profile-desc" class="form-control"/>
        </div>

        <div id="profile-users" class="form-group">
          <label for="users" class="control-label">Users</label>
          <input id="users" name="users" placeholder="comma separated list of user names" type="text" class="form-control"/>
        </div>
        <div id="profile-users" class="form-group">
          <label for="groups" class="control-label">Groups</label>
          <input id="groups" name="groups" placeholder="comma separated list of group names" type="text" class="form-control"/>
        </div>

        <input onclick="profileDiscard()" class="btn" type="button" value="Discard profile"/>
        <input onclick="profileSave()"    class="btn btn-primary" type="button" value="Save"/>
      </form>
    </div>
  </body>
</html>
