<html>
  <head>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/patternfly.min.js"></script>
    <script src="/static/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <title>Fleet Commander</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fleet Commander</a>
      </div>

      <div class="nav navbar-utility">
        <a id="show-hypervisor-config" href="#"><span class="pficon pficon-settings"></span></a>
      </div>
    </nav>

    <div id="configure-hypervisor-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Hypervisor configuration</h4>
          </div>

          <div class="modal-body">
            <div id="host-group" class="form-group">
              <label for="host" class="control-label">Fleet Commander virtual environment host</label>
              <input id="host" name="host" placeholder="enter hostname or ip address" type="hostname" class="form-control"></input>
            </div>
            <div id="username-group" class="form-group">
              <label for="username" class="control-label">Username for connection</label>
              <input id="username" name="pubkey" placeholder="enter username" type="text" class="form-control"></input>
            </div>
            <div id="mode-group" class="form-group">
              <label for="mode" class="control-label">Libvirt mode</label>
              <select id="mode" name="mode" class="form-control">
                <option value="system" selected>System</option>
                <option value="session">Session</option>
              </select>
            </div>
            <div id="pubkey-group" class="form-group">
              <label for="pubkey" class="control-label">Public key (You must add it yo your SSH allowed keys)</label>
              <textarea id="pubkey" name="pubkey" type="publickey" class="form-control" rows="7" readonly>
              </textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id='configure-hypervisor-confirm' class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="domain-selection-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Select domain</h4>
          </div>

          <div class="modal-body">
            <div class="spinner"></div>
            <div id="domain-selection-list">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div id="del-profile-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Profile Confirmation</h4>
          </div>

          <div class="modal-body">
            Are you sure you want to delete profile "<span id="del-profile-name"></span>"?
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id='del-profile-confirm' class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">
          <span>Profiles</span>
          <button id="add-profile" class="btn btn-primary pull-right" type="button">Add Profile</button>
        </div>

        <table class="table">
          <thead>
              <tr>
                <td>Name</td><td>Description</td><td>Target OS</td><td>Applies to</td><td></td>
              </tr>
            </thead>
            <tbody id="profile-list">
            </tbody>
          </table>
      </div>
    </div>
  </body>
</html>
