<html>
  <head>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/patternfly.min.js"></script>

    <!-- spice-html5 -->
    <script src="/static/js/spice-html5/spicearraybuffer.js"></script>
    <script src="/static/js/spice-html5/enums.js"></script>
    <script src="/static/js/spice-html5/atKeynames.js"></script>
    <script src="/static/js/spice-html5/utils.js"></script>
    <script src="/static/js/spice-html5/png.js"></script>
    <script src="/static/js/spice-html5/lz.js"></script>
    <script src="/static/js/spice-html5/quic.js"></script>
    <script src="/static/js/spice-html5/bitmap.js"></script>
    <script src="/static/js/spice-html5/spicedataview.js"></script>
    <script src="/static/js/spice-html5/spicetype.js"></script>
    <script src="/static/js/spice-html5/spicemsg.js"></script>
    <script src="/static/js/spice-html5/wire.js"></script>
    <script src="/static/js/spice-html5/spiceconn.js"></script>
    <script src="/static/js/spice-html5/display.js"></script>
    <script src="/static/js/spice-html5/main.js"></script>
    <script src="/static/js/spice-html5/inputs.js"></script>
    <script src="/static/js/spice-html5/webm.js"></script>
    <script src="/static/js/spice-html5/playback.js"></script>
    <script src="/static/js/spice-html5/simulatecursor.js"></script>
    <script src="/static/js/spice-html5/cursor.js"></script>
    <script src="/static/js/spice-html5/thirdparty/jsbn.js"></script>
    <script src="/static/js/spice-html5/thirdparty/rsa.js"></script>
    <script src="/static/js/spice-html5/thirdparty/prng4.js"></script>
    <script src="/static/js/spice-html5/thirdparty/rng.js"></script>
    <script src="/static/js/spice-html5/thirdparty/sha1.js"></script>
    <script src="/static/js/spice-html5/ticket.js"></script>
    <script src="/static/js/spice-html5/resize.js"></script>
    <script src="/static/js/spice-html5/filexfer.js"></script>

    <script src="/static/js/profile.add.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.add.css"/>

    <title>Fleet Commander - New Profile</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Fleet Commander</a>
      </div>
    </nav>

    <div class="modal fade" id="event-logs">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" onclick="listenChanges()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Profile Changes</h4>
          </div>
          <div class="modal-body">
            <form id="selected-changes-form">
              <div class="form-group">
                <ul id="gsettings-event-list">
                </ul>
                <ul id="libreoffice-event-list">
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <input  id="restart-profile" onclick="listenChanges()" data-dismiss="modal" type="button" value="Back"/>
            <input  id="submit-profile"  onclick="deployProfile()"  type="button" value="Save"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
          <span>Virtual Session</span>
          <span class="pull-right">
            <input id="close-session" class="btn " type="button" onclick="sessionStop()"   value="Close session"/>
            <input id="review-changes" class="btn btn-primary" type="button" onclick="reviewAndSubmit()" value="Review and submit"/>
          </span>
        </div>

        <div class="panel-body">
          <div id="spice-area">
              <div id="spice-screen" class="spice-screen"></div>
          </div>

          <div id="message-div" class="spice-message"></div>

          <div id="debug-div">
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
