<html>
  <head>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/patternfly.min.js"></script>
    <script src="/static/js/favourites.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <title>Fleet Commander - Select favourite apps</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fleet Commander</a>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="form-group">
        <label for="app-name" class="control-label">Introduce a XDG .desktop application id</label>
        <input type="text" class="form-control" name="app-name" id="app-name"/>
        <input type="button" class="btn btn-primary" onclick="addOverrideFromEntry()" value="Add application"/>
      </div>

      <ul class="list-group" id="overrides-list">
      </ul>

      <div class="form-group">
        <input type="button" class="btn btn-primary pull-right" value="Save" onclick="saveOverrides()"></input>
        <input type="button" class="btn pull-right" value="Discard" onclick="discard()"></input>
      </div>
    </div>
  </body>
</html>
