<html>
  <head>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/patternfly.min.js"></script>

    <script src="/js/noVNC/include/util.js"></script>
    <script src="/js/noVNC/include/webutil.js"></script>
    <script src="/js/noVNC/include/base64.js"></script>
    <script src="/js/noVNC/include/websock.js"></script>
    <script src="/js/noVNC/include/des.js"></script>
    <script src="/js/noVNC/include/keysymdef.js"></script>
    <script src="/js/noVNC/include/keyboard.js"></script>
    <script src="/js/noVNC/include/input.js"></script>
    <script src="/js/noVNC/include/display.js"></script>
    <script src="/js/noVNC/include/jsunzip.js"></script>
    <script src="/js/noVNC/include/keysym.js"></script>
    <script src="/js/noVNC/include/rfb.js"></script>

    <script src="/js/profile.add.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/patternfly.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile.add.css"/>
    
    <title>Fleet Commander - New Profile</title>
  </head>
  <body>
    <nav id="topnav" class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Fleet Commander</a>
      </div>
    </nav>

    <div class="modal fade" id="event-logs">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" onclick="listenChanges()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Profile Changes</h4>
          </div>
          <div class="modal-body">
            <form id="selected-changes-form">
              <div class="form-group">
                <ul id="event-list">
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <input  id="restart-profile" onclick="listenChanges()" data-dismiss="modal" type="button" value="Back"/>
            <input  id="submit-profile"  onclick="deployProfile()"  type="button" value="Save"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="top-button-box">
        <input id="close-session"   type="button" onclick="closeSession()"   value="Close session"/>
        <input id="review-changes"  type="button" onclick="reviewAndSubmit()"  value="Review and submit"/>
      </div>
      <div id="vnc-area">
        <canvas id="vnc-canvas">
        </canvas>
      </div>
    </div>
  </body>
</html>
