[Desktop Entry]
Type=Application
Name=Fleet Commander Session Logger
Icon=preferences-desktop-screensaver
Exec=fcmdr-logger.py
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
